<% throw_content :right do %>
	<h4>Twitter Settings</h4>
	Update the twitter settings for this blog.
	<br />
	<ul>
		<li>
			<strong>Username</strong>
			<br />
			This is your username on Twitter, it'll be used to find your tweets to integrate with your blog.
		</li>
		<li>
			<strong>Ignore Replies</strong>
			<br />
			This will ignore tweets that are just replies, and will not show these within your blog.
		</li>
	</ul>
<% end %>

<%= error_messages_for @twitter_setting %>
<h1>Edit Twitter settings</h1>

<% form_for :twitter_setting, :action => url(:admin_twitter_settings, @twitter_setting), :method => :put do %>
	<p>
		<span class="mock_label">Username</span>
		<%= text_control :username, :value => @twitter_setting.username %>
	</p>
	
	<p>
  		<span class="mock_label">Ignore Replies</span>
  		<%= checkbox_control :ignore_replies, :value => @twitter_setting.ignore_replies %>
	</p>
  	<%= submit_button 'Save Settings' %> or <%= link_to 'Cancel', url(:admin_twitter_settings) %>
<% end %>