<% throw_content :right do %>
  <h4>View Twitter Settings</h4>
  <p>
	Here you can view Twitter settings.
	<br />
	<%= link_to "View Tweets", url(:admin_tweets) %>
  </p>
<% end %>

<h1>View Twitter Settings</h1>

<p>
	Username:
	<%= @twitter_setting.username %>
</p>

<p>
	Ignore Replies:
	<%= @twitter_setting.ignore_replies %>
</p>

<p>
	Tweets last scanned at:
	<%= @twitter_setting.last_scan_at.nil? ? "Never" : @twitter_setting.last_scan_at.to_s %>
</p>

<p>
	Force re-scan for tweets:
	<%= form_for :twitter_setting, :action => url(:admin_twitter_settings, @twitter_setting), :method => :put do %>
			<%= hidden_field :name => "force", :value => true %>
		<%= submit "Re-scan" %>
	<% end =%>
</p>

<%= link_to "Edit Twitter settings", url(:edit_admin_twitter_settings, @twitter_setting) %> |
<%= link_to "View tweets", url(:admin_tweets) %>
