<% throw_content :right do %>
	<h4>Recaptcha Settings</h4>
	Update the recaptcha settings for this blog.
	<br />
	<p>You <strong>MUST</strong> visit <a href="http://www.recaptcha.net">recaptcha.net</a> and sign up for an account first.</p>
	<ul>
		<li>
			<strong>Public Key</strong>
			<br />
			Enter your public key given to you when you signed up.
		</li>
		<li>
			<strong>Private Key</strong>
			<br />
			Enter your private key given to you at signup.
		</li>
		<li>
			<strong>Theme</strong>
			<br />
			Select your choice of theme. Options include: red, white, blackglass, clean
		</li>
		<li>
			<strong>Language</strong>
			<br />
			Select the primary langauge. Options include: en, nl, fr, de, pt, ru, es, tr
		</li>
		<li>
			<strong>Tab Index</strong>
			<br />
			Select the tab index for the control (0 will place it first).
		</li>
	</ul>
<% end %>

<%= error_messages_for @recaptcha_config %>
<h1>Edit recaptcha settings</h1>

<% form_for :recaptcha_config, :action => url(:admin_recaptcha_configuration, @recaptcha_config), :method => :put do %>
	<p>
  		<span class="mock_label">Public Key</span>
  		<%= text_control :public_key, :value => @recaptcha_config.public_key %>
	</p>
	
	<p>
  		<span class="mock_label">Private Key</span>
  		<%= text_control :private_key, :value => @recaptcha_config.private_key %>
	</p>
	
	<p>
  		<span class="mock_label">Theme</span>
  		<%= text_control :theme, :value => @recaptcha_config.theme %>
	</p>
	
	<p>
  		<span class="mock_label">Language</span>
  		<%= text_control :lang, :value => @recaptcha_config.lang %>
	</p>
	
	<p>
  		<span class="mock_label">Tab Index</span>
  		<%= text_control :tabindex, :value => @recaptcha_config.tabindex %>
	</p>
	
  <%= submit_button 'Save Settings' %> or <%= link_to 'Cancel', url(:admin_recaptcha_configuration) %>
<% end %>