<% throw_content :right do %>
  <h4>View Themes</h4>
  <p>
	This shows you the themes you have installed and available for use.
  </p>
<% end %>

<h1>View Themes</h1>
<%= form(:action => url(:admin_themes) + "/set_default") do %>
  <ul id="themes">
    <% @themes.each do |theme| %>
      <li id="theme-<%= theme.name %>" style="list-style-type: none">
        <%= 
          if @default_theme == theme.name
            radio_button :name => "default_theme", :value => theme.name, :checked => 'checked'
          else
            radio_button :name => "default_theme", :value => theme.name
          end
        %>
        <span id="name">
          <b><%= theme.name %></b>
        </span>(<%= link_to 'Delete', url(:admin_theme, theme.name), {:method => :delete, :onclick => "return confirm('Are you sure?')"} %>)<br />
        <span id="author">
          Author: <%=h "#{theme.author}" %><br />
        </span>
        <% unless theme.url.nil? %>
        <span id="url">
          <%= link_to('Website', theme.url) %><br />
        </span>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= submit 'Set default theme' %>
<% end =%>
<br /><br />

<%= link_to "Install theme", url(:new_admin_theme) %>