<% Tweet.find_between_articles(locals[:with][:before], locals[:with][:after]).each do |tweet| %>
	<div class="hentry" id="tweet-<%= tweet.id %>">
  		<h2 class="entry-title">
			<%= link_to tweet.text_summary, tweet.url %>
  		</h2>
  		<div class="vcard">
    		Posted to Twitter by <span class="fn"><%= tweet.username %></span>using <%= tweet.source %>&nbsp;
  		</div>
  		<abbr class="published" title=""><%= tweet.created_at.strftime("on %b %d, %y") %></abbr>
  		<br class="clear" />
  		<div class="entry-content">
			<%= tweet.text %>
			<% if tweet.reply? %>
				<br /><br />
				<i>In reply to: <%= tweet.in_reply_to %> (by <%= tweet.replying_to %>)</i>
			<% end %>
  		</div>
	</div>
<% end %>