<% throw_content :right do %>
  <h4>View Themes</h4>
  <p>
	Don't think I got to tell ya what themes do...
  </p>
<% end %>

<h1>View Themes</h1>
<% default_theme = PluginSetting.read('theme') %>
<% form_tag(:action => url(:controller => 'admin/themes', :action => 'set_default')) do %>
<ul id="themes">
  <%- @themes.each do |theme| %>
  <li id="theme-<%= theme.name %>" style="list-style-type: none">
    <%= 
      if default_theme == theme.name
        radio_field :name => "default_theme", :value => theme.name, :checked => 'checked'
      else
        radio_field :name => "default_theme", :value => theme.name
      end
    %>
    <span id="name">
      <b><%= theme.name %></b>
    </span>(<%= link_to 'Delete', url(:delete_admin_theme, theme), {:method => :delete, :onclick => "return confirm('Are you sure?')"} %>)<br />
    <span id="author">
      Author: <%=h "#{theme.author}" %><br />
    </span>
    <% unless theme.url.nil? %>
    <span id="url">
      <%= link_to('Website', theme.url) %><br />
    </span>
    <% end %>
  </li>
  <% end %>
</ul>
<%= submit_button 'Set default theme' %>
<% end %>
<br /><br />

<%= link_to "Get a new theme!", url(:new_admin_theme) %>