<% throw_content :right do %>
  <p>
	Install a new theme here.
  </p>
<% end %>

<%= error_messages_for @style %>
<h1>Install theme</h1>

<%= form_for :theme, :action => url(:admin_themes) do %>
  <%= text_field :url, :label => 'URL' %>
  <%= submit 'Install' %>
<% end =%>

<%= link_to "Back to themes", url(:admin_themes) %>
