<% throw_content :right do %>
  <p>
	Upload a new file here.
  </p>
<% end %>

<%= error_messages_for @upload %>
<h1>New Upload</h1>

<% form_for :upload, :action => url(:admin_upload, @upload), :enctype => "multipart/form-data" do %>
  <%= partial 'form' %>
  <p><%= submit_button 'Upload file' %> or <%= link_to 'Cancel', url(:admin_uploads) %></p>
<% end %>

<%= link_to "Back to uploads", url(:admin_uploads) %>