<% throw_content :right do %>
  <h4>View Redirects</h4>
  <p>
	  Redirects allow you to setup urls that'll be redirected elsewhere on the blog, so as to maintain compatibility with old links. You can configure them to be temporary (302), or permanent (301) redirects.
  </p>
<% end %>

<h1>View Redirects</h1>

<table>
	<% @redirects.each do |redirect| %>
	<tr>
		<td>From <%= redirect.from_url %> to <%= redirect.to_url %></td>
		<td>(<%= redirect.permanent ? "Permanent" : "Temporary" %>)</td>
		<td <%= link_to "Edit", url(:edit_admin_redirect, redirect) %> | <%= link_to 'Delete', url(:delete_admin_redirect, redirect), {:method => :delete, :onclick => "return confirm('Are you sure?')"} %></td>
	</tr>
	<% end %>
</table>
<br />
<%= link_to "New Redirect", url(:new_admin_redirect) %>