<h5>
  <a name="comments">Comments</a>
</h5>
<p><a href="#comment-form">Leave a response</a></p>
<ol class="comments" id="comments">
<!-- Put this in a partial. Actually I think we should reopen the article model, and stick in has_many :comments. do that. -->
<% Feather::Comment.all_for_post(@article.id).each do |comment| %>
  <li id="comment-<%= comment.id %>" class="comment">
    <div class="author">
      <cite><span class="author"><span><%= comment.website.blank? ? h(comment.name) : link_to(h(comment.name), comment.website) %></span></span></cite> – 
      <abbr title="<%= comment.created_at %>"><span class="date"><%= TZInfo::Timezone.get(@article.user.time_zone).utc_to_local(comment.created_at).strftime("%b %d %y @ %I:%M%p") %></span></abbr>
    </div>
    <div class="content">
      <%= render_text(comment.formatter, h(comment.comment)) %>
    </div>
  </li>  
<% end %>
</ol>
<div>
  <%= form_for :comment, :action => url(:comments), :id => 'comment-form' do %>
    <% if session[:comment_error] %>
      <ul id="comment-errors">
      	<% session[:comment_error].each do |err| %>
          <li><%= err %></li>
      	<% end %>
      </ul>
    	<% session[:comment_error] = nil %>
    <% end %>
    <fieldset>
      <legend>Comment</legend>
      <%= hidden_field :name => "comment[article_id]", :value => @article.id %>
	  <% if Feather::CommentSetting.current.negative_captcha %>
	  	<%= text_field :name => "comment[notes]", :id => "comment_notes" %>
	  	<script type="text/javascript">
			document.getElementById('comment_notes').style.display = "none";
	  	</script>
	  <% end %>
      <p>
        <label for="comment_name" class="text">Name:</label>
        <%= text_field :name => 'comment[name]', :size => 30, :id => 'comment_name' %>
      </p>
      <p>
        <label for="comment_email_address" class="text">Email Address:</label>
        <%= text_field :name => 'comment[email_address]', :size => 30, :id => 'comment_email_address' %>
      </p>
      <p>
      	<label class="text" for="comment_website">Website:</label>
        <%= text_field :name => 'comment[website]', :size => 30, :id => 'comment_website' %>
      </p>
	  <p>
	    <label class="text" for="comment_formatter">Formatter:</label>
	    <%= select :name => 'comment[formatter]', :collection => Feather::Hooks::Formatters.available_formatters, :selected => 'default', :id => 'comment_formatter' %>
	  </p>
      <p>
      	<label class="text" for="comment_comment">Comment:</label>
      	<%= text_area "", :name => 'comment[comment]', :rows => 10, :cols => 30, :id => 'comment_comment' %>
      </p>
      <div class="formactions">
      	<%= submit "Post comment", :class => 'submit' %>
      </div>
    </fieldset>
  <% end =%>
</div>
