<tr>
	<td><%= link_to tweet.text_summary, url(:admin_tweet, tweet) %></td>
	<td><%= tweet.source %></td>
	<td><%= tweet.reply? %></td>
	<td><%= render_relative_date(tweet.created_at) %></td>
	<td><%= link_to 'Delete', url(:delete_admin_tweet, tweet), {:method => :delete, :onclick => "return confirm('Are you sure?')"} %></td>
</tr>