<% throw_content :right do %>
  <h4>View Tweet</h4>
  <p>
	  Here you can view the details of an existing tweet.
  </p>
<% end %>

<h1>View Tweet</h1>

<p>
	Twitter ID: <%= @tweet.twitter_id %>
</p>

<p>
	Text:
	<br />
	<%= @tweet.text %>
</p>

<p>
	Source: <%= @tweet.source %>
</p>

<p>
	Reply? <%= @tweet.reply? %>
	<% if @tweet.reply? %>
		<br />
		<%= @tweet.in_reply_to %>
	<% end %>
</p>

<p>
	Created: <%= @tweet.created_at %>
</p>

<p>
	Published: <%= @tweet.published_at %>
</p>

<%= link_to "Back to tweets", url(:admin_tweets) %>