<% throw_content :right do %>
  <h4>Other importers</h4>
  <p>
    <ul>
      <li><%= link_to "RSS", url(:admin_importer) %></li>
      <li><%= link_to "Typo", url(:admin_typo) %></li>
    </ul>
  </p>
<% end %>

<h1>Import existing content</h1>

<%= form(:action => url(:admin_mephisto)) do %>
  <p><strong>Important:</strong></p>
	<p>Make sure that the permalink matches your old posts! You can use the variables: :year, :month, :day, :title</p>
	<%= text_field :name => "permalink", :label => "Permalink", :value => "/:year/:month/:day/:title"%>

	<%= text_field :name => "adapter", :label => "Adapter" %><br />
	<%= text_field :name => "host", :label => "Host" %><br />
	<%= text_field :name => "database", :label => "Database" %><br />
	<%= text_field :name => "user", :label => "User" %><br />
	<%= password_field :name => "password", :label => "Password" %><br />
	<%= submit "Import" %>
<% end =%>
