<% throw_content :right do %>
  <h4>View Comment</h4>
  <p>
	  Here you can view the details of an existing comment.
  </p>
<% end %>

<h1>View Comment</h1>

<p>
	Name: <%= @comment.name %>
</p>

<p>
	Website: <%= @comment.website %>
</p>

<p>
	E-mail address: <%= @comment.email_address %>
</p>

<p>
	Comment:
	<br />
	<%= render_text(@comment.formatter, @comment.comment) %>
</p>

<%= link_to "Back to comments", url(:admin_comments) %>