<% throw_content :title do %>
  <% if @tag.nil? %>
    Unable to find tag '<%= params[:id] %>'.
  <% else %>
	  Articles tagged with <%= @tag[:display_name] %>
	<% end %>
<% end %>

<% if @tag.nil? %>
  Unable to find tag '<%= params[:id] %>'.
<% else %>
  <h1>Articles Tagged with '<%= @tag[:display_name] %>'</h1>

  <ul>
  <% Feather::Article.tagged_with(@tag[:name]).each do |a| %>
    <li><%= link_to(a.title, a.permalink) %></li>
  <% end %>
  </ul>
<% end %>