<% throw_content :right do %>
	<h4>Mollom Settings</h4>
	Update the mollom settings for this blog.
	<br />
	<ul>
		<li>
			<strong>Private Key</strong>
			<br />
			The private key you got from the Mollom servers
		</li>
		<li>
			<strong>Public Key</strong>
			<br />
			The public key you got from the Mollom servers
		</li>
	</ul>
<% end %>

<%= error_messages_for @mollom_config %>
<h1>Edit Mollom settings</h1>

<% form_for :mollom_config, :action => url(:admin_mollom_settings, @mollom_config), :method => :put do %>
	<p>
  		<span class="mock_label">Private Key</span>
  		<%= text_control :private_key, :value => @mollom_config.private_key %>
	</p>
	
	<p>
  		<span class="mock_label">Public Key</span>
  		<%= text_control :public_key, :value => @mollom_config.public_key %>
	</p>

  <%= submit_button 'Save Settings' %> or <%= link_to 'Cancel', url(:admin_mollom_settings) %>
<% end %>